.feeds-dropdown {
  & > [data-part="trigger"][data-icon-only] {
    box-sizing: border-box;
    width: var(--noora-spacing-10);
    height: var(--noora-spacing-10);
    padding: var(--noora-spacing-3);
  }

  & > [data-part="trigger"][data-icon-only] [data-part="icon"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--noora-icon-size-medium);
    height: var(--noora-icon-size-medium);
  }
}
