.feeds-dropdown {
  display: inline-flex;

  & > .noora-dropdown {
    gap: 0;
  }

  & > .noora-dropdown > [data-part="trigger"][data-icon-only] {
    box-sizing: border-box;
    width: calc(var(--noora-icon-size-medium) + var(--noora-spacing-3) + var(--noora-spacing-3));
    height: calc(var(--noora-icon-size-medium) + var(--noora-spacing-3) + var(--noora-spacing-3));
    padding: var(--noora-spacing-3);
  }

  & > .noora-dropdown > [data-part="trigger"][data-icon-only] [data-part="icon"] {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--noora-icon-size-medium);
    height: var(--noora-icon-size-medium);
  }
}
