.flash-region {
  display: flex;
  flex-direction: column;
  gap: var(--noora-spacing-3);
  margin-bottom: var(--noora-spacing-7);
  width: min(720px, 100%);

  & .noora-alert {
    width: 100%;
  }
}
