<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>{assigns[:page_title] || "Hive"}</title>
    <link rel="icon" type="image/png" href={~p"/images/logo.png"} />
    <link rel="stylesheet" href="/assets/js/app.css" />
    <script defer src="/assets/js/app.js">
    </script>
  </head>
  <body data-part="app-body">
    {@inner_content}
  </body>
</html>
